[2019-09-15 05:32] karthik4153 opened #1 "New Cheat Sheet Request - [prop-types]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2019-09-15 05:55] #1 closed

[2020-06-10 15:38] ananthakrishnaner opened #9 "TESTING"
![onecompiler RCE](https://user-images.githubusercontent.com/56487435/84288135-6a7bdf80-ab5e-11ea-9130-7610cb915575.JPG)

[2020-06-11 04:22] divyagh commented on #9
what's this?

On Wed, Jun 10, 2020 at 9:08 PM ANANTHAKRISHNAN <notifications@github.com>
wrote:

[2020-06-12 18:17] #9 closed

[2021-02-26 00:47] daleharr opened #11 "New Cheat Sheet Request - [Cheat Sheet Title]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2021-04-11 04:01] utkarshpr opened #12 "New Cheat Sheet Request - [angular]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-06-20 18:42] PratishShrivastava commented on #12
@utkarshpr can I work on this issue.

[2022-06-21 06:06] Roytony opened #19 "New Cheat Sheet Request - [CSS]"
I saw that you don't have a separate chat sheet for CSS i think it will be good idea to create a separate cheat sheet for CSS if you want i can work on that

[2022-06-22 16:56] onecompiler-ops commented on #19
Sure @Roytony  we welcome PRs

[2022-06-30 15:21] kshitijmishra27 commented on #19
can i work on this new cheetsheet if there are no updates @onecompiler-ops

[2022-07-01 10:53] onecompiler-ops commented on #19
@kshitijmishra27 We got a PR for css from @Roytony

[2022-07-01 10:53] #19 closed

[2022-07-28 13:30] RahulMorbale opened #23 "TypescriptNew Cheat Sheet Request - [Cheat Sheet Title]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-07-28 13:31] RahulMorbale opened #24 "Angular 13"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-09-30 16:36] kshitijmishra27 opened #25 "please add hacktoberfest label in this repository it will be good for Onecompiler as well as contributers"

[2022-09-30 16:37] kshitijmishra27 commented on #25
![Screenshot (288)](https://user-images.githubusercontent.com/82284180/193316899-1a6f9316-c5cb-4f3f-b959-8115f1af46d5.png)

add like this...😊

[2022-09-30 17:11] onecompiler-ops commented on #25
@kshitijmishra27 Thank you for the suggestion, added.

[2022-09-30 17:11] #25 closed

[2022-10-01 05:44] vedantmistryy commented on #23
@RahulMorbale Heyy I'm looking to contributing and I'm totally new in this , please tell me what to do I can help 😊

[2022-10-01 06:31] Lofty-Brambles opened #29 "Imrproving the ReactJS cheatsheet."
Modern day ReactJS uses a lot of different bundlers like vite and moreover, TS based tips. I'd like to edit the cheatsheet to include those.

[2022-10-01 08:50] harikesh409 opened #34 "Add new java versions"
Add the new java versions to https://github.com/onecompiler/cheatsheets/blob/master/java-versions.md

[2022-10-01 09:01] kshitijmishra27 opened #36 "please add 2 more labels too that are hacktoberfest-accepted and hacktoberfest2022"
![image](https://user-images.githubusercontent.com/82284180/193401832-ad82e90c-cff7-4c7e-82bc-cd08700c5a7a.png)

[2022-10-01 09:48] detronetdip opened #42 "Imrproving the Git cheatsheet."
We can add rebase command to the git cheatsheet.

[2022-10-01 09:51] detronetdip commented on #42
I want to work on this issue. @onecompiler-ops  please assign me this issue.

[2022-10-01 10:07] onecompiler-ops commented on #34
@harikesh409 PRs are welcome

[2022-10-01 10:23] kshitijmishra27 commented on #36
@onecompiler-ops  add 2 more labels "hacktoberfest-accepted" and "hacktoberfest2022"

[2022-10-01 10:28] onecompiler-ops commented on #42
@detronetdip done

[2022-10-01 10:30] harikesh409 commented on #34
I have already created a PR please review it and also add the relevant labels.

[2022-10-01 10:38] #34 closed

[2022-10-01 10:39] onecompiler-ops commented on #36
done!

[2022-10-01 10:39] #36 closed

[2022-10-01 11:08] Dhruvsinghjadon commented on #29
I want to work on this issue. @onecompiler-ops  please assign me this issue.

[2022-10-01 11:57] kshitijmishra27 opened #47 "Adding resources to some cheatSheets"
@onecompiler-ops
i have seen a lot of cheatsheets also contains links to related famous resources like youtube playlists etc where people can learn from those playlists that particular language so can i add resource section and some playlist links to cpp.md and java.md ????

as i know some famous YouTubers having 200K+ subscribers you teach well 😄

[2022-10-01 12:04] sachin885 opened #48 "New Cheat Sheet Request - [Swift 5.1 Cheatsheet]"
Hey maintainers! I would like to add Swift 5.1 Cheatsheet to the project, this cheatsheet will allow users to learn more about Swift 5.1 and its features.

[2022-10-01 12:12] arefathi opened #49 "New Cheat Sheet Request - [Solidity]"
Hello there @onecompiler

I am quite fascinated with awesome lists and cheatsheets that I find on GitHub as they make my life easier as a developer. This year for Hacktoberfest 2022 - I decided to go the low-code way and wanted to contribute to some repos such as this. I see that you are missing a Solidity cheat sheet. I would like to start that cheatsheet and share it with the general list. Let m

[2022-10-01 12:14] onecompiler-ops commented on #47
Sorry, @kshitijmishra27  we are strict about the external links, we only allow links to official websites.
For example, in Java we allow links to java.com or oracle.com only

[2022-10-01 12:14] #47 closed

[2022-10-01 12:16] onecompiler-ops commented on #48
Sure @sachin885 you are more than welcome!

[2022-10-01 12:16] onecompiler-ops commented on #49
@arefathi You are more than welcome to give a PR

[2022-10-01 12:19] kshitijmishra27 commented on #47
ohk no issues 😄

[2022-10-01 13:42] mohakgupt opened #59 "Improving the Python cheatsheet"
Hey! I would like to add MySQL connector module functions in the Python cheatsheet under Hactoberfest 2022.

MySQL is a popular database management system, and it will be beneficial for users to know about the MySQL connector module commands at a glance. So please assign me this issue.

[2022-10-01 13:53] Anshu9b opened #61 "Improving cpp cheatsheet"
Hi, @onecompiler-ops I see in your CPP cheatsheet topics of STL (standard template library) are missing such as containers(sets, maps), functors, and iterators which are most important for the folks using CPP for practicing dsa and doing competitive programming.

I would be more than happy if you accept my request as it will be a stepping stone for my first open-source contribution.

[2022-10-01 14:05] Anshu9b opened #63 "New Cheat Sheet Request - [StreamLit]"
Hi, @onecompiler-ops I wanted to add the Streamlight cheatsheet which is an important frontend framework for Ai/Ml-related projects. I have previously used it for my music-based recommendation system project. So I would be more than happy if u assign me for this under Hacktoberfest 2022.

[2022-10-01 14:25] SachXD opened #65 "New Cheat Sheet Request - [COBOL]"
Hey @onecompiler-ops ! i just found this repo via community classroom discord server and i just looked around and found that there was no cheatsheet for the programming language COBOL.I've been programming since the end of my senior year so i just decided to start with non-code contributions and found this repo.

I would really appreciate if you could assign me this issue so that can i can start c

[2022-10-01 14:34] sumitkr2000 opened #66 "Improving C++ Cheatsheet"
Hey @onecompiler-ops  I have been using C++ for a long time and I see many concepts missing in the C++ Cheatsheet section. Can you please assign me this issue to add more concepts based on C++ so that everyone can be benefited by it. Thank you!

[2022-10-01 15:14] starrohan999 opened #68 "Adding JS script of year change in copyright section"
I would really appreciate it if you could assign me this issue so that can I can start contributing to this repo.
Thank you and have a great Hacktoberfest '22!

[2022-10-01 15:16] starrohan999 commented on #68
hey, @onecompiler-ops   looking forward to taking this issue and resolving it.
I really want to start my hacktoberfest'22 journey from there.

[2022-10-01 15:30] aaryanshsahay opened #70 "New Cheat Sheet Request - [Cheat Sheet SQL]"
Hey, im new and would like to contribute by submitting a sql cheatsheet.

[2022-10-01 15:37] SxxAq commented on #42
I want to work with this issue. @onecompiler-ops please assign me this issue. I can add a few specific diff command in inspect section also in few in another

[2022-10-01 15:56] onecompiler-ops commented on #42
@SxxAq  assigned

[2022-10-01 15:57] onecompiler-ops commented on #70
@aaryanshsahay More than welcome for your PRs

[2022-10-01 15:59] onecompiler-ops commented on #68
@starrohan999 assigned

[2022-10-01 16:00] onecompiler-ops commented on #66
assigned!

[2022-10-01 16:01] onecompiler-ops commented on #65
Assigned!

[2022-10-01 16:05] onecompiler-ops commented on #61
Assigned!

[2022-10-01 16:07] onecompiler-ops commented on #59
Assigned!

[2022-10-01 16:12] aaryanshsahay commented on #70
if the hacktober fest label isnt mentioned, would it still be counted 😅 If not do i make a new issue with the same content but with updated labels?

[2022-10-01 16:13] starrohan999 commented on #68
Thank you!

[2022-10-01 16:15] starrohan999 commented on #68
please label this issue as Hacktoberfest @onecompiler-ops  , so that it can be counted towards my progress of this season

[2022-10-01 16:19] nihal-soni opened #74 "New Cheat Sheet Request - [XML Cheatsheet]"
Hey,
I'm Nihal and I want to contribute  by Adding New Cheatsheet.

[2022-10-01 16:21] onecompiler-ops commented on #74
More than welcome for your PRs

[2022-10-01 16:35] Nishanth-thunder opened #79 "New Cheat Sheet Request - SQL"
SQL cheat sheet is missing as SQL is the major dbms language. This technology is so useful and needed for all the engineers. I request you to add sql cheatsheet and add label as hacktoberfest-accepted. Thanks in advance!

[2022-10-01 16:44] sumitkr2000 commented on #66
Thank you!

[2022-10-01 17:29] jaisinha opened #81 "Adding Information in the cpp cheatsheet"
Hey, @onecompiler-ops I have been using C++ for about 3 years and I see many concepts missing in the C++ Cheatsheet section. Can you please assign me this issue to add more concepts based on C++ so that everyone can be benefited by it. Thank you

Some of the concepts are-:
1) A list of all the necessary header files
2) Standard template libraries

[2022-10-01 17:32] jaisinha opened #82 "Adding information in Linux Cheatsheet"
Hello @onecompiler-ops I have been using Linux for a long time and I see some concepts missing in the Linux Cheatsheet section. Can you please assign me this issue to add more concepts based on Linux so that everyone can be benefited by it. Thank you!

Concepts are-:
Types of editors that we can use such as vim,nano,gedit

[2022-10-01 18:18] Shivam164 commented on #79
I want to work on this.
Please assign this to me.

[2022-10-01 18:20] Shivam164 commented on #81
I want to work on this. Please assign this to me.

[2022-10-01 18:21] jaisinha commented on #81
Can I do it?

[2022-10-01 19:37] SachXD commented on #65
@onecompiler-ops also add the **hacktoberfest** 22 label if possible. thanks!

[2022-10-01 20:26] arefathi commented on #49
Hello again @onecompiler-ops
I have submitted a PR for the Solidity cheatsheet as discussed earlier.

I hope it is to your standard. Ping me if there are any issues.
Thanks.

[2022-10-01 22:34] McCune1224 opened #89 "Information Addition Request - go.md"
Adding Information about Generics in Golang for the go.md file

Also Happy Hacktoberfest 2022 :)
#88

[2022-10-02 03:42] Dhruvsinghjadon commented on #29
@onecompiler-ops Please review, I have updated hooks section in reactjs.md

[2022-10-02 04:12] jaisinha commented on #81
pl Reply

[2022-10-02 04:55] onecompiler-ops commented on #81
Assigned!

[2022-10-02 05:08] #49 closed

[2022-10-02 05:10] onecompiler-ops commented on #65
Added the labels!

[2022-10-02 05:13] onecompiler-ops commented on #79
Assigned!

[2022-10-02 05:16] jaisinha commented on #81
the info has been added.Pl take a look

[2022-10-02 05:17] onecompiler-ops commented on #82
Assigned!

[2022-10-02 05:30] Dhruvsinghjadon commented on #89
@onecompiler-ops please assign me this !!

[2022-10-02 05:32] Dhruvsinghjadon commented on #24
@onecompiler-ops please assign me!!
I can easily do this

[2022-10-02 05:37] McCune1224 commented on #89
I realize that in the go.md file Interfaces has not been explained yet. If you want it might be of interest to make an issue/PR on that as well and pre-append it to the Generics section since It mentions interfaces.

[2022-10-02 05:44] kshitijmishra27 commented on #89
@Dhruvsinghjadon please create your own issues and don't try to streal someone's else issues 😄

[2022-10-02 05:48] Prahmodh-R opened #94 "New Cheat Sheet Request - Kubernetes"
I would like to create a new cheatsheet on Kubernetes which is an very important part of DevOps and data storage. I'll be adding all the essential commands , reference links and the installation setup. Could you please assign this issue to me as part of Hacktoberfest 2022 @onecompiler-ops

[2022-10-02 05:53] Prahmodh-R opened #95 "New Cheat Sheet Request - Rust Programming Language"
I would like to add a new cheat sheet on the Rust Programming Language, as it is  a very popular language used in Blockchain Development and other applications because of its High Performance and Backwards Compatibility. Could you please assign me this issue as part of Hacktoberfest @onecompiler-ops

[2022-10-02 06:00] Dhruvsinghjadon commented on #89
ooooh
I thought, we have to just solve issues, in spite who ever else raised it!! 😄
@kshitijmishra27

[2022-10-02 06:00] Dhruvsinghjadon commented on #89
ooooh
I thought, we have to just solve issues, in spite who ever else raised it!! 😄
@kshitijmishra27

[2022-10-02 06:03] Dhruvsinghjadon opened #96 "New Cheat Sheet Request - [PANDAS]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-02 06:10] onecompiler-ops commented on #89
There is no correlation between Issue and PR, anyone can raise the PR against an Issue.

[2022-10-02 06:11] onecompiler-ops commented on #89
closing this issue as changes are made part of https://github.com/onecompiler/cheatsheets/pull/88

[2022-10-02 06:11] #89 closed

[2022-10-02 06:12] onecompiler-ops commented on #95
Assigned!

[2022-10-02 06:12] onecompiler-ops commented on #94
Assigned!

[2022-10-02 06:15] Dhruvsinghjadon commented on #24
@onecompiler-ops thank you

[2022-10-02 08:19] Rituraj-13 commented on #12
Hey, I want to contribute in it. Can you please assign this to me?

[2022-10-02 08:24] Rituraj-13 opened #104 "New Cheat Sheet Request - [Git]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-02 08:25] Rituraj-13 opened #105 "New Cheat Sheet Request - [Django]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-02 10:01] sumitkr2000 opened #110 "BUG: Getting Error while typing in search bar"
Hey I found a bug in the website. When I type anything in the search bar I am getting an error. Below is a screenshot for reference.

![Screenshot (311)](https://user-images.githubusercontent.com/100675296/193448572-4990e26f-98e3-4d9a-86d2-885b251c4806.png)

[2022-10-02 10:20] starrohan999 commented on #68
there is no HTML file in this cheatsheet how i can i Change the year script @onecompiler-ops

[2022-10-02 11:02] spiderxp3 commented on #104
I want to work on this.

[2022-10-02 13:42] onecompiler-ops commented on #68
@starrohan999 I don't understand your question, what script you want to change?

[2022-10-02 13:51] onecompiler-ops commented on #110
Thank you for reporting it, we have fixed it.

[2022-10-02 13:51] #110 closed

[2022-10-02 13:52] Mohasin-Haque opened #116 "Adding positioning content in the CSS cheat sheet"
I want to add some more content in the CSS cheat sheet specifically positioning

[2022-10-02 18:51] Mohasin-Haque commented on #116
please assign this to me @harikesh409

[2022-10-03 04:03] harikesh409 commented on #116
I am just a contributor I can't assign.

[2022-10-03 04:09] onecompiler-ops commented on #116
Assigned!

[2022-10-03 04:13] Dhruvsinghjadon opened #127 "New Cheat Sheet Request - [NUMPY]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-03 04:19] onecompiler-ops commented on #127
Assigned!

[2022-10-03 06:06] jaisinha opened #131 "Adding information about closures at the end of the javascript cheetsheat"
I will add the basic concepts of closures as it is one of the most important topics.

[2022-10-03 07:21] jaisinha commented on #131
can I pl do it?

[2022-10-03 07:36] onecompiler-ops commented on #131
Assigned!

[2022-10-03 07:59] jaisinha commented on #131
Thanks!!

[2022-10-03 10:55] #42 closed

[2022-10-03 12:27] Rituraj-13 commented on #105
Hey, I want to work on this. Can you please assign me for this.

[2022-10-03 12:44] onecompiler-ops commented on #105
Assigned!

[2022-10-03 12:56] markandey007 commented on #104
hey assign me @Rituraj-13  i will fix it

[2022-10-03 15:35] Dhruvsinghjadon commented on #127
@onecompiler-ops I have added numpy.md, please check it

[2022-10-03 16:02] onecompiler-ops commented on #104
Assigned!

[2022-10-04 05:44] arshanand1 opened #148 "C++ cheat sheet flaw"
I was checking the cheat sheet of C++ present in repository and there was nothing mentioned regarding "break" and "continue" functions please assign this issue to me and let me add both of them in the sheet.

[2022-10-04 07:33] harshxtanwar commented on #59
Hey there @onecompiler-ops , I have worked with Django, FastAPI, MongoDB. I would love to write down the steps to connect to a mongoDB cluster using pymongo in python.

Kindly assign me this issue as well.

[2022-10-04 08:40] ayush4345 opened #155 "New Cheat Sheet Request - [Linux commands]"
As, I have seen there there are certain file of Linux commands here and there.so,I would like make one cheat sheet of Linux that would help any developers in there workflow and It quite a need for developer

So,I have a very good collection of Linux commands with me and I would like to contribute to this repo.

Assign this issue to me.

P.s:- Thanks

[2022-10-04 09:10] Girlwithasmile opened #158 "New Cheat Sheet Request - Typescript"
I am a hackthoberfest contributer and would like to add a typescript cheatsheet.

[2022-10-04 09:13] onecompiler-ops commented on #158
Assigned!

[2022-10-04 09:15] onecompiler-ops commented on #155
assigned

[2022-10-04 09:15] imanishbarnwal opened #159 "Create a README where all the cheatsheets listed"
I want to create a README where all cheatsheets were listed and linked respectively we can also deploy it using GitHub Pages which may help people to find on internet easily.

[2022-10-04 09:17] imanishbarnwal opened #160 "New Cheat Sheet Request - Vyper"
Vyper is a contract-oriented, pythonic programming language that targets the Ethereum Virtual Machine (EVM). I want to create it's cheatsheet here.

[2022-10-04 09:19] onecompiler-ops commented on #160
Assigned!

[2022-10-04 09:20] onecompiler-ops commented on #159
@imanishbarnwal All the cheat sheets are automatically synched to https://onecompiler.com/cheatsheets/ every 10 minutes

[2022-10-04 09:21] imanishbarnwal commented on #159
Yeah just saw I am closing this issue do check this one #160

[2022-10-04 09:22] imanishbarnwal commented on #160
Okay thanks

[2022-10-04 09:22] #159 closed

[2022-10-04 10:34] atinder11 commented on #95
Hey Can  you assign this one to me

[2022-10-04 10:35] atinder11 commented on #65
I would love to work on this please assign me with this.

[2022-10-04 10:36] atinder11 commented on #48
I would love to work on this please assign me with this.

[2022-10-04 10:36] atinder11 commented on #94
I would love to work on this please assign me with this.

[2022-10-04 10:41] Prahmodh-R commented on #95
@atinder11 The maintainer has assigned this issue to me and I'm almost done with it, so try creating another issue:)

[2022-10-04 10:59] atinder11 commented on #95
@Prahmodh-R  Okk, I will Try another, No problem

[2022-10-04 11:00] atinder11 commented on #158
Hey Can you assign this one to me

[2022-10-04 11:00] atinder11 commented on #104
Hey Can you assign this one to me

[2022-10-04 11:01] atinder11 commented on #105
Hey Can you assign this one to me

[2022-10-04 11:02] atinder11 commented on #74
Hey Can you assign this one to me

[2022-10-04 11:02] atinder11 commented on #23
Hey Can you assign this one to me

[2022-10-04 11:05] adityaajay29 opened #162 "Addition of frequently used Data Structures in C++"
I saw some basic data structures like vector and stack are present in the c++ cheat sheet. I would like to add some more fundamental data structures to this cheat sheet which are used very frequently, like Heap, Set, Hash map, etc.

[2022-10-04 11:52] Shreyasatyakam opened #168 "New Cheat Sheet Request - [Oracle]"
Oracle offers a comprehensive and fully integrated stack of cloud applications and cloud platform services, Oracle database is a relational database management system. It is also called OracleDB, or simply Oracle.

[2022-10-04 12:17] atinder11 commented on #74
@onecompiler-ops  Can label it Hacktoctoberfest or Hacktoberfest2022.
It will help Lot

[2022-10-04 13:13] sumitbaroniya commented on #81
Please assign me this issue. I would like to contribute in it.

[2022-10-04 13:17] arshanand1 commented on #148
updated the changes

[2022-10-04 13:27] Khushi260 opened #172 "New Cheat Sheet Request - [JQuery]"
jQuery is a fast, small, and feature-rich JavaScript library.

It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.

With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.

[2022-10-04 13:38] abhishekrd opened #173 "Addition of some classic concepts in JavaScript"
- I would like to add some more concepts like hoisting, temporal dead zone, Execution context, call stack etc. in the JavaScript Cheatsheet.
- @onecompiler-ops  please assign this issue to me.

[2022-10-04 13:38] Naman1302 opened #174 "Cheat Sheet Update Request - cpp"
The given cpp cheat sheet has macros and some data structures (like map,set,2D vectors,heap etc.) are missing. As a person working with c++ for a long time I would like someone to assign me that task to make the new changes.Which will benefit the people more from the cheat sheet

[2022-10-04 14:31] atinder11 commented on #94
@Prahmodh-R  maintainer can as assign the same issue to Different Persons also

[2022-10-04 15:06] nihal-soni commented on #74
Thank you for assigning me

[2022-10-04 16:35] Yash-Var commented on #162
@adityaajay29 i want to work on in this issue can you assign it to me......

[2022-10-04 17:18] harshxtanwar commented on #61
Hello @onecompiler-ops, I just finished my task for #59, It has been 3 days since this issue hasn't been resolved. Can I get assigned to this ? I would love to work on this as I have done competitive programming in the past.

[2022-10-04 17:54] onecompiler-ops commented on #61
@harshxtanwar  Please create a different issue to avoid conflcts

[2022-10-04 17:56] onecompiler-ops commented on #162
done!

[2022-10-04 17:56] onecompiler-ops commented on #174
assigned

[2022-10-04 18:11] onecompiler-ops commented on #173
assigned

[2022-10-04 18:14] onecompiler-ops commented on #81
@sumitbaroniya please create a different issue to avoid conflicts

[2022-10-04 18:17] realanupreet opened #184 "Numbering inside markdown files"
### _The issue_

So, while browsing and going through many pull request which are contributing to the .md files which contain some form of numbered headings, there's a common issue or let's say incovinence involved which is manually updating the numbers of the headings when something needs to be added at the top or middle of the file.

_This causes:_

  - unnecessary inconvinence
  - makes it a po

[2022-10-04 18:20] realanupreet commented on #184
please assign if it seems to be of some value to the repository as a whole

[2022-10-04 18:23] onecompiler-ops commented on #184
@realanupreet This is a smart hack, but do not want to go down this path as this creates confusion while editing the markdown files, instead want to spend time on fixing the wrong numbers

[2022-10-04 18:39] realanupreet commented on #184
Oh great!
can think of a scenario like that, will go through the files for finding any wrong numbers. If i find anything tho of that sort ☠️
:D

[2022-10-04 18:54] harshxtanwar opened #186 "Update Cheat Sheet Request - CPP [ Adding a new section for STL in the CPP cheat sheet]"
Hello @onecompiler-ops, I am creating a new issue as asked by you to avoid conflicts. I will start working on the CPP cheat sheet. Kindly assign me this issue and add a label of hacktoberfest to it. I would love to work on it.

[2022-10-04 18:55] imanishbarnwal opened #187 "New Cheat Sheet Request - Dart"
Dart is a programming language primarily used in Flutter I would like to add it, in this list.

[2022-10-04 19:00] harshxtanwar commented on #186
will this issue be accepted by hacktoberfest ?

[2022-10-04 19:05] onecompiler-ops commented on #186
yes

[2022-10-04 21:19] tanuj1811 opened #196 "Poor OOPS Content in Java"
The OOPS section in Java is not so great, like lack of Examples, explanation, etc

[2022-10-04 21:20] tanuj1811 commented on #196
I think I can help in this issue.
@onecompiler-ops , I would really appreciate it if you could assign me this issue with Hacktoberfest tag so that can I can start contributing to this repo.
Thank you and have a great Hacktoberfest.

[2022-10-05 05:25] Alidhuniya opened #202 "lazy-load-in-html"
lazy loading attribute in html images

[2022-10-05 06:06] harshxtanwar commented on #186
Hello @onecompiler-ops, I had made a pull request for this issue, kindly view it once.

[2022-10-05 07:36] Anshu9b commented on #61
Hi @onecompiler-ops  I have resolved this issue please check

[2022-10-05 07:37] Ankita-278 commented on #162
Can you assign this task to me?

[2022-10-05 07:48] onecompiler-ops commented on #162
@Ankita-278 can you create a new issue to avoid conflicts?

[2022-10-05 07:50] Ankita-278 commented on #162
@onecompiler-ops yes!!

[2022-10-05 08:00] Ankita-278 opened #207 "Adding all the sorting algorithm"
1. Selection sort
2. Bubble sort
3. Insertion sort
4. Merge sort
5. Quick sort
6. Recursive Bubble Sort
7. Recursive Insertion Sort

[2022-10-05 08:00] Ankita-278 commented on #162
added one issue!!

[2022-10-05 08:01] onecompiler-ops commented on #207
Assigned!

[2022-10-05 08:02] onecompiler-ops commented on #207
@Ankita-278 Please do not add these to cpp cheat sheet. Instead you can have a separate new cheat sheet

[2022-10-05 08:04] Ankita-278 commented on #207
@onecompiler-ops okay!!

[2022-10-05 08:06] onecompiler-ops commented on #196
Assigned!

[2022-10-05 09:21] Khushi260 opened #209 "New Cheat Sheet Request - npm"
npm is a package manager for the JavaScript programming language maintained by npm, Inc. npm is the default package manager for the JavaScript runtime environment Node.js.

Please assign me this issue under hacktoberfest 2022.

[2022-10-05 09:36] tanuj1811 commented on #196
Can you please add label to this issue with hacktoberfest?

[2022-10-05 10:26] onecompiler-ops commented on #196
We will add for PRs, when they are ready to merge

[2022-10-05 10:30] onecompiler-ops commented on #209
Assigned!

[2022-10-05 11:04] Fabayu commented on #209
Pls assign me this @Khushi260

[2022-10-05 11:04] Fabayu commented on #209
pls assign me this @onecompiler-ops

[2022-10-05 11:05] Fabayu opened #214 "New Cheat Sheet Request - [tailwind.css]"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-05 11:06] Fabayu commented on #214
Tailwind.css adding the chaeatsheet

[2022-10-05 11:06] Fabayu commented on #214
Pls assign me this

[2022-10-05 14:37] VelocityDesign opened #218 "New Cheat Sheet Request - [Astro]"
Hello!

It would be awesome to have a cheat sheet for [Astro](https://astro.build/).
Basic setup instructions, component syntax, extensions, and adapter information should be included in the file.

I could write up something if you want. Just assign the issue to me :)

[2022-10-05 16:24] realanupreet opened #224 "New Cheat Sheet Request - [Http - status codes]"
### Http status codes
Http is the protocol, the modern internet relies for data communication, these provide much detail about what is really happening at the server.

_References_

[MDN Docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status)

[2022-10-05 17:05] #184 closed

[2022-10-05 17:32] Khushi260 opened #228 "New Cheat Sheet Request - Searching Algoritms"
Searching Algorithms are designed to check for an element or retrieve an element from any data structure where it is stored.
It is a very important part of data structures and algorithms.

[2022-10-05 17:34] #224 closed

[2022-10-05 17:54] tanuj1811 commented on #196
Hey @onecompiler-ops  ,

I solved the issue. You can review my changes in Pull Request section ID: #232
Make sure to update label to hacktoberfest-accepted

[2022-10-05 18:58] karishma-2020 commented on #228
please assign me this

[2022-10-05 19:02] onecompiler-ops commented on #228
assigned!

[2022-10-05 19:15] arshanand1 opened #237 "python's dictionary is missing a function"
fromkeys function is missing from the python.md file in the dictionary functions. Let me add it?

[2022-10-05 19:18] arshanand1 opened #238 "break and continue explantion missing from cpp.md"
Let me add the break and continue statements with self written and explained examples to cpp.md

[2022-10-06 06:32] Abhishek-Kumar-Sharma69 opened #241 "operators examples Missing from cpp.md"
cpp.md contains only the operators and its difficult to understand the use of some operators especially binary operators without example.
So pls assign this issue to me i can provide the required examples that would make it easier for one to understand the operators
it would also be really helpful for me if you add the hacktoberfest label, Though I will still resolve this issue

[2022-10-06 10:16] Mohammed-Shoaib01 opened #251 "Add Code of Conduct"
Hey, can I be assigned to contribute the code of conduct for this repository?

Thank you for your time!

[2022-10-06 10:21] onecompiler-ops commented on #251
But how do you know the rules?

[2022-10-06 10:41] Mohammed-Shoaib01 commented on #251
I was going to add the Covenant Code of Conduct and iterate from there.

If it isn't applicable, could you advice on how I could help make one if possible?

Thank you for your time!

[2022-10-06 12:54] Anubhav-Ghosh1 opened #252 "Cheat sheet for c++ is vacant can you please assign me that"

[2022-10-06 15:19] Rancho2002 opened #253 "Modification in PHP sheet"
I want to modify the php cheatsheet by adding some more super useful super global variables and its uses. Please assign this task to me @onecompiler-ops

[2022-10-07 05:41] vinayakU94 opened #260 "New Cheat Sheet Request - [cpp.md]"
Some information about the naming convention of variables in c++ is missing in cpp.md file that " a variable can not be a keyword "
I would like to add that missing information. please assign that to me.

[2022-10-07 05:41] vinayakU94 commented on #260
please assign this to me

[2022-10-07 05:44] onecompiler-ops commented on #260
Assigned!

[2022-10-07 05:45] onecompiler-ops commented on #253
Assigned!

[2022-10-07 05:45] onecompiler-ops commented on #252
Assigned!

[2022-10-07 05:46] Rancho2002 commented on #253
pls add hacktoberfest label to my issue @onecompiler-ops 🙏

[2022-10-07 06:44] vinayakU94 commented on #260
pull request has been sent. Please review

[2022-10-07 09:11] onecompiler-ops commented on #251
Please contribute to tech cheat sheets instead

[2022-10-07 09:11] #251 closed

[2022-10-07 09:20] onecompiler-ops commented on #253
We will add to PRs

[2022-10-07 10:16] Abhishek-Kumar-Sharma69 commented on #241
i have made a pull request you can merge it.

[2022-10-07 12:56] Arun9739 opened #271 "New Cheat Sheet Request - [Kali linux]"
- I want to add cheatsheet for Kali linux commands
- I will follow the style of the project
- I will cover most of the basic kali linux commands.

[2022-10-07 12:57] Arun9739 commented on #271
Please assign me this under "Hackktoberfest"

[2022-10-07 13:04] arshanand1 opened #272 "String functions are missing in c.md"
A few functions of strings are missing from c.md. I will like to add these functions in the file c.md cheatsheet

[2022-10-07 13:23] onecompiler-ops commented on #271
We add tags to PRs

[2022-10-07 14:41] Kajal13081 opened #277 "Stack, Queue, Heap topics in java cheatsheet"
I would like to add topics stacks, queue, heap in java cheat sheet.

[2022-10-07 16:31] onecompiler-ops commented on #271
Assigned!

[2022-10-07 16:52] Abhishek-Kumar-Sharma69 opened #281 "String missing from cpp Cheat Sheet"
Strings are important and there is no info regarding them i would like to add the basic knowledge of string frequently used in programs

[2022-10-07 20:04] Aman1143 opened #291 "Adding external font in css"
For better UI on the dashboard ,we need external font that are not default.
And there in no information about it . In the cheatSheet in css

[2022-10-07 20:05] Aman1143 commented on #291
I want to add this content in css cheatsheet. please assign it to me.

[2022-10-07 20:09] Aman1143 opened #292 "Adding information about CSS Specificity"
If there are two or more CSS rules that point to the same element, the selector with the highest specificity value will "win", and its style declaration will be applied to that HTML element.

[2022-10-07 20:10] Aman1143 commented on #292
This content is missing in the cheatSheet of css. i want to add this. please assign it to me

[2022-10-08 03:34] #241 closed

[2022-10-08 04:25] onecompiler-ops commented on #292
Assigned!

[2022-10-08 04:25] #281 closed

[2022-10-08 04:28] onecompiler-ops commented on #291
Assigned!

[2022-10-08 05:54] Suryansh1720001 opened #296 "Adding a New Cheat Sheet of UBUNTU-22.04"
This Cheat sheet is related to a linux operating system which is Ubuntu-22.04. I want to do work in this subject.
I'd like to contribute to this issue with this New topic.

[2022-10-08 05:54] Suryansh1720001 commented on #296
Please @onecompiler assign this to me.

[2022-10-08 05:58] Rancho2002 commented on #253
Pls check my PR #294  @onecompiler-ops

[2022-10-08 06:00] Suryansh1720001 commented on #296
Please @onecompiler assign this to me. And add hacktoberfest label to this. I will give you a good quality cheat sheet.

[2022-10-08 07:24] iathul opened #299 "New Cheat Sheet Request - [Update NodeJS Cheat]"
I would like to update the NodeJS cheat sheet with more examples.

[2022-10-08 07:26] iathul commented on #299
@onecompiler assign this issue to me. And add the Hacktoberfest label to this issue.

[2022-10-08 10:24] Suryansh1720001 commented on #296
I have send the pull-request for the same.

[2022-10-08 10:41] Rancho2002 opened #310 "Want to add README.MD"
In this awesome repository, there is no readme.md where contributors can read and learn how to contribute in this repository, so I want to add one readme.md in this repository. Kindly assign this to me @onecompiler-ops

[2022-10-08 12:10] Satakshijain commented on #310
@onecompiler-ops I want to contribute to this project by adding a README.MD to it please assign this issue to me

[2022-10-08 12:51] onecompiler-ops commented on #310
We have some unfinished code changes to support README. Please ignore this for now.

[2022-10-08 12:51] #310 closed

[2022-10-08 15:29] Arun9739 opened #316 "Adding marix operations and variation of apply functions in 'r' cheatsheet"
- I want to add the Various **matrix operation** and their **syntax** in the 'R' cheatsheet
- I will also add applu functions such as **apply, lapply, sapply** and many more functions and their syntax.
- I will follow the contributing guidelines and the code style of the project.

[2022-10-08 15:32] Arun9739 commented on #316
@onecompiler-ops plz assign me this issue.

[2022-10-08 15:59] Rancho2002 commented on #253
closed as merged #294

[2022-10-08 15:59] #253 closed

[2022-10-08 17:04] Pranjal360Agarwal opened #326 "New Cheat Sheet Request - [Dart]"
I want to add the cheatsheet for Dart language - best for flutter developers.

[2022-10-08 17:59] Anubhav-Ghosh1 commented on #252
I have created it and made a pull request please go through it once

[2022-10-08 18:06] onecompiler-ops commented on #316
assigned!

[2022-10-09 04:02] #326 closed

[2022-10-09 07:35] yesdhruv opened #336 "New Cheat Sheet Request - [Tech Interview Cheat Sheet]"
This sheet will be useful for rapidly going through all Data Structures and Algorithms before an interview. It covers all different algorithms such as DFS, BFS, recursion, sorting and searching, and so on, with extensive time and space complexity analysis, definitions, and what to know, as well as a video for better comprehension.

[2022-10-09 07:38] yesdhruv commented on #336
@onecompiler Please assign this issue to me and add hacktoberfest label to it

[2022-10-09 13:08] Anshika-Srivastava opened #345 "New Cheat Sheet Request - [UX Designing CheatSheet]"
I want to create a cheat sheet for all the designers out there. User Experience is a very important aspect of designing.
https://www.behance.net/anshikasrivast8
Above is my behance profile. Therefore please assign me this issue under Hacktober fest 2022
Thank you!

[2022-10-09 13:18] Anshika-Srivastava opened #346 "New Cheat Sheet Request - [Company Interview Cheat Sheet]"
I would like to maintain a folder in this repo for interview preparation of various companies. I would like to start with JP Morgan in which I have got placement. Please assign me this under Hacktober Fest 2022
Thank you!

[2022-10-09 16:16] chakraborty9569 opened #351 "New Cheat Sheet Request - [Update java.md]"
Want to add Interface, Abstract Class, this and static keyword functionalities with examples.

@onecompiler-ops kindly assign me the task

[2022-10-09 16:27] Arun9739 opened #354 "New Cheat Sheet Request - [Matplotlib]"
- I want to add the cheatsheet on matplotlib
- I will cover all the basic such as plotting the graph, saving the graph, axis, colors etc

Please assign me this issue.

[2022-10-09 16:52] FaizanCod opened #356 "Updating git cheatsheet to have undo commands"

[2022-10-09 17:46] Aman1143 commented on #291
I pushed cheatsheet but it is not showing in the code section of this repo

[2022-10-09 18:36] jaisinha opened #360 "Adding info about linkedlist in the cheatsheet.Pl assign it to me"
Add more details about the requested Cheat Sheet like reference links etc.,

[2022-10-09 20:28] onecompiler-ops commented on #346
This category of cheat sheets are not permitted

[2022-10-09 20:28] #346 closed

[2022-10-10 00:25] yesdhruv commented on #336
Hey @onecompiler I have the  added the cheat sheet , have a look on PR No. #362 and accept the PR .Kindly mark it a hacktoberfest tag

Thanks

[2022-10-10 04:01] iathul commented on #299
Closing this issue

[2022-10-10 04:01] #299 closed

[2022-10-10 04:33] SonaVarshney commented on #356
please assign me this issue

[2022-10-10 07:25] abhishekrd opened #366 "New Cheat Sheet Request - [Fetch API]"
- I would like to add a cheatsheet of the most popular fetch API in cheatsheets
- @onecompiler-ops please assign me this issue

[2022-10-10 12:44] HridoyHazard opened #367 "New Cheat Sheet Request - [Selenium CheatSheet]"
Add more details about the requested Cheat Sheet like reference links etc.,
I would like to add selenium cheatsheet. which is missing. kindly assign this task to me

[2022-10-10 13:22] HridoyHazard commented on #367
here is the pr #368

[2022-10-10 16:35] disha815 opened #371 "New Cheat Sheet Request - [Inheritance in java]"
I would like to add concept of Inheritance in java.
Pls assign this to me

[2022-10-10 17:17] 123shanawaz opened #373 "data type is missing here in js"
@onecompiler I want to add a full explanation of data type in js can you assign me in hacktober fest label ???

[2022-10-10 17:28] Rutwik187 opened #375 "missing one of the most important property of "Position" from CSS"
One of the most important property CSS Positions which are used at a large scale is missing from CSS. I would love to add it as I am working in CSS for a really long time and I am well versed in this topic.

https://www.w3schools.com/css/css_positioning.asp

[2022-10-10 17:42] chakraborty9569 commented on #351
added the required document. Kindly review.

[2022-10-11 07:06] kr84abhijeet opened #380 "New Cheat Sheet Request - [Language Tools for java, cpp and py]"
Add more details about the requested Cheat Sheet like reference links etc.,
Hii
I am Kumar Abhijeet with GitHub id- kr84abhijeet
I want to add Language Tools for java, cpp and py .
Kindly consider it.
Thank you

[2022-10-11 08:46] Man07har opened #383 "New Cheat Sheet Request - [AWS]"
I think there is a need for AWS cheatsheet. AWS is the cloud computing platform provided by Amazon.

I wil be adding popular commands of AWS, and it's functions

[2022-10-11 12:53] Puja-Saraf opened #386 "New Cheat Sheet Request - [Update javascript.md]"
I want to update the javascript dom part. Also, add javascript events and working with user browser.

[2022-10-12 10:28] 123shanawaz opened #392 "new cheatsheet requsted [data type in js]"
hey @onecompiler I want to add data type in js can you assign me under hacktober and newcheatsheet label??

[2022-10-12 11:36] Sowham-3098 opened #393 "Adding A Documented README.md"
README.md with How to contribute, and Contributors profile and other necessary documentation

[2022-10-12 15:49] #209 closed

[2022-10-13 18:00] 12rashic opened #401 "New Cheat Sheet Request - [Cheat Sheet for Azure Fundamentals]ntals]"
I would like to contribute to repo by adding Azure Fundamentals cheatsheet .Kindly assign this issue to me

[2022-10-13 18:59] SonaVarshney commented on #356
@onecompiler-ops  pls have a look https://github.com/onecompiler/cheatsheets/pull/402#issue-1408281925

[2022-10-14 05:40] 12rashic commented on #401
I have uploaded the PR please approve and kindly add hacktoberfest label for it.
Thank you

[2022-10-14 06:37] vinayakU94 opened #408 "Documentation for various sql commands in Mysql.md"
documentation for sql commands was insufficient which has been added and given for pull request
please review and approve my pull request
https://github.com/onecompiler/cheatsheets/pull/382

[2022-10-14 06:39] vinayakU94 opened #409 "java.md was lacking some naming conventions"
naming convention about variables and class_name was incomplete and some information about naming convention was missing which has been added please review and approve
https://github.com/onecompiler/cheatsheets/pull/381

[2022-10-15 10:21] #336 closed

[2022-10-15 10:48] iamAditya01 commented on #409
assign me this one

[2022-10-15 11:08] #409 closed

[2022-10-15 11:09] #408 closed

[2022-10-15 11:09] #260 closed

[2022-10-16 12:17] samvid2020 commented on #393
Hey, can you assign this issue to me please I would appreciate that thanks :)

[2022-10-16 17:15] kanishbodhwani opened #434 "New Cheat Sheet Request - [Updating React Cheat sheet]"
I want to add Lists and Keys in React cheatsheet

@onecompiler-ops  Can you please assign me this issue ?

[2022-10-16 17:50] samvid2020 opened #436 "Kotlin Cheat Sheet - [Kotlin ]"
_Add more I would like to add one very important cheat sheet for Native android developers out there to help them switch to Kotlin from Java! Please @onecompiler-ops  assign this issue to me_

[2022-10-17 08:15] #65 closed

[2022-10-17 17:11] silky-modi22 commented on #371
Hey, can you assign this issue to me please I would like to share the concept of Inheritance in java.

[2022-10-17 17:56] prafullpandey614 opened #446 "C++ STL cheatsheet"
I think this wil be very useful as C++ is mostly used language For Programmers an

[2022-10-17 18:01] prafullpandey614 opened #447 "Django Cheat Sheet- [Django : python]"
I wanna add Django cheat sheet

[2022-10-17 18:02] prafullpandey614 opened #448 "Django Rest Framework - [Django Rest Cheatsheet]"

[2022-10-18 07:47] kanishbodhwani commented on #434
@onecompiler-ops Please add this under hacktoberfest label

[2022-10-18 16:08] onecompiler-ops commented on #434
We will add to the PRs

[2022-10-18 19:21] FaizanCod opened #454 "Updating C cheatsheet for math and random functions along with compilation methods"

[2022-10-20 16:59] parijat965 opened #472 "Improving the git cheatsheet."
We can add command to add upstream branch so that if I fork and clone a repo to my local system, I can fetch updated changes from original or upstream repo.

[2022-10-20 17:09] Man07har commented on #383
AWS

The acronym for Amazon Web Services is AWS.
The AWS service is offered by Amazon, which makes various IT resources available on demand by using a distributed IT architecture. It offers a variety of services, including packaged software as a service, infrastructure as a service, and platform as a service (SaaS).
Amazon created the AWS cloud computing platform so that many businesses might bene

[2022-10-21 10:43] DeeppriyaGupta opened #477 "New Cheat Sheet Request - [Cheat Sheet Title]"
python cheat sheet does not contain about regex

[2022-10-21 18:33] Abhishek-Kumar-Sharma69 opened #482 "add function of 'this' keyword in cpp cheatsheet"
I would like to add the basic and necessary knowledge regarding 'this' keyword in the file
@onecompiler-ops  you can assign this to me

[2022-10-22 02:20] divyansh956 opened #483 "New Cheat Sheet Request - [Update Search_Engine.md]"
Wish to Update the new data as per the current scenario

[2022-10-22 03:43] #472 closed

[2022-10-22 16:08] targithu opened #489 "New Cheat Sheet Request - [DJANGO]"
_Django Cheatsheet could be add through my pr. Please add the label of hacktober fest as well,if you found it valuable._

[2022-10-23 05:40] #489 closed

[2022-10-23 05:42] #482 closed

[2022-10-30 17:57] SyedSaad-07 opened #509 "New Cheat Sheet Request - [Dart programming e-book.]"
As flutter is becoming very popular and it is based on dart programming language. So, that's why I want to add ebook of Dart.

[2022-10-30 19:48] SyedSaad-07 commented on #509
I want to add this e-book , kindly allow me to resolve this issue request.